# Beta Data Analysis

We have been working to create a number of queries that describe the contents in the existing enriched-data collection. This notebook can be configured to point to any of the 3 environments (Live, Integration, DevQA).

In [1]:
# Related page
# http://confluence.epnet.com/display/ART/Spike+-+Date+field%28s%29+analyses+by+content+type+in+Raw-Meta

# Start of the script
import pandas as pd
import pymongo
from pymongo import MongoClient
import time
import datetime



env = input("Please Select an Environment D,I or L: ")
if env == "D":
    mng_svr = '10.25.216.142'
    mng_port = 27017
    mng_user = 'readOnlyUser'
    mng_pwd = 'uk53r8gb22zq76qb'
    mng_conn_string = mng_svr,mng_port,mng_user,mng_pwd
    print("Configuring for DevQA")
elif env == "I":
    mng_svr = '10.25.152.243'
    mng_port = 27017
    mng_user = 'read'
    mng_pwd = 'QbSjdYLj6v'
    mng_conn_string = mng_svr,mng_port,mng_user,mng_pwd
    print("Configuring for Integration")
elif env == "L":
    mng_svr = '10.26.152.183'
    mng_port = 27017
    mng_user = 'readOnlyUser'
    mng_pwd = 'uk53r8gb22zq76qb'
    mng_conn_string = mng_svr,mng_port,mng_user,mng_pwd
    print("Configuring for Live")
else:
     print("No usable environment selected")
     exit()


#mng_conn_string = (mng_svr,mng_port,mng_user,mng_pwd)
print (mng_conn_string)


client = MongoClient (mng_svr,mng_port,username = mng_user, password = mng_pwd)
db = client.springer
collection = db['enriched-meta']



start = time.time()
print ("Connection complete")





#=====================================================
#Determine the content types in the collection

#Dist = collection.aggregate([{"$group" : {"_id" : {"type" : "content-type"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
#df = pd.DataFrame(list(Dist))



#Dist = collection.aggregate([{"$group" : {"_id" : {"vertical" : "$header.content-verticals"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
#df = pd.DataFrame(list(Dist))
#data = pd.DataFrame(list(collection.find().limit(1000)))

# End of the script

Please Select an Environment D,I or L: I
Configuring for Integration
('10.25.152.243', 27017, 'read', 'QbSjdYLj6v')
Connection complete

In [2]:
print("Initial analysis starting")
allRecords = collection.count_documents({})
print("Number of documents: ", allRecords)
#mfsRecords = collection.count_documents({"header.content-type":"sch"})
#print("Number of MFS documents: ", mfsRecords)
#imgRecords = collection.count_documents({"header.content-type":"imh"})
#print("Number of Image documents: ", imgRecords)
#ersRecords = collection.count_documents({"header.content-type":"ers"})
#print("Number of ERS documents: ", ersRecords)
print("Initial analysis complete")

Initial analysis starting
Number of documents:  5875205
Initial analysis complete

In [3]:
#Determine the content types in the collection
print ("Content Type Analysis starting")
Dist = collection.aggregate([{"$group" : {"_id" : {"type" : "$header.content-type"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
df = pd.DataFrame(list(Dist))
df["Perc"] = df['total'] / allRecords * 100

print ("Content Type Analysis complete")

Content Type Analysis starting
Content Type Analysis complete

In [4]:
df.round(2)

                 _id   total   Perc
0  {'type': ['sch']}  811047  70.08
1  {'type': ['imh']}  277109  23.95
2  {'type': ['ers']}   69115   5.97

Date Analysis; We will look at the prevalance of string dates in MFS fields.

In [5]:
print("Date analysis starting")
mfsRecords_w_date = collection.count_documents({
    '$and' : [{ "header.content-type" :  "sch"},
            {"date.string-date" :  {"$exists" : True}}]
})

Dist = collection.aggregate([{"$match" : { "header.content-type":"sch"}}, {"$group" : { "_id" : "$date.string-date", "total" : {"$sum" : 1} }}, {"$sort": {"total":-1}}])
df = pd.DataFrame(list(Dist))
print("MFSDocuments_W_Date: ", mfsRecords_w_date )
print("Percentage of MFS documents with a String Date: ", mfsRecords_w_date/mfsRecords * 100)
print("Date analysis complete")

Date analysis starting
MFSDocuments_W_Date:  811047
Percentage of MFS documents with a String Date:  100.0
Date analysis complete

In [6]:
df

                                          _id  total
0                 [Oct2017, 1506816000000000]  33490
1                    [2005, 1104537600000000]   4355
2                [8/1/2017, 1501545600000000]   2294
3                    [2003, 1041379200000000]   1934
4                 [Oct2005, 1128124800000000]   1650
5                [3/1/2006, 1141171200000000]   1620
6                 [Sep2005, 1125532800000000]   1590
7                 [Feb2005, 1107216000000000]   1583
8                 [Apr2005, 1112313600000000]   1577
9                 [Mar2005, 1109635200000000]   1554
10                [Oct2007, 1191196800000000]   1540
11                [Mar2006, 1141171200000000]   1474
12                [Mar2008, 1204329600000000]   1470
13                [Oct2004, 1096588800000000]   1462
14                [Sep2008, 1220227200000000]   1458
15                [Sep2007, 1188604800000000]   1437
16                [Oct2008, 1222819200000000]   1424
17                [Sep2006, 1157068800000000]   1422
18                [Jun2005, 1117584000000000]   1404
19                [Jan2005, 1104537600000000]   1394
20                [Mar2007, 1172707200000000]   1380
21                [Sep2004, 1093996800000000]   1373
22                [Jun2008, 1212278400000000]   1365
23                [Dec2005, 1133395200000000]   1363
24                [Mar2009, 1235865600000000]   1354
25                [May2005, 1114905600000000]   1347
26                [Apr2006, 1143849600000000]   1339
27                [Apr2008, 1207008000000000]   1322
28                [Oct2012, 1349049600000000]   1316
29                [Apr2012, 1333238400000000]   1316
...                                       ...    ...
13694               [5/3/96, 831081600000000]      1
13695            [10/1/1994, 780969600000000]      1
13696            [12/5/1997, 881280000000000]      1
13697            [8/13/1994, 776736000000000]      1
13698            [7/18/1998, 900720000000000]      1
13699    [07/31/99-08/07/99, 933379200000000]      1
13700            [4/20/1996, 829958400000000]      1
13701          [11/27/2007, 1196121600000000]      1
13702           [4/12/2015, 1428796800000000]      1
13703          [12/19/1942, -853200000000000]      1
13704           [10/3/2001, 1002067200000000]      1
13705            [6/1/1963, -207878400000000]      1
13706           [5/23/1942, -871344000000000]      1
13707          [11/28/2001, 1006905600000000]      1
13708            [10/2/1989, 623289600000000]      1
13709               [6/3/91, 675907200000000]      1
13710           [7/14/1956, -425001600000000]      1
13711             [10/31/94, 783561600000000]      1
13712           [6/15/1957, -395971200000000]      1
13713          [10/30/1954, -478828800000000]      1
13714           [6/ 5/2008, 1212624000000000]      1
13715          [4/24/1934, -1126569600000000]      1
13716          [6/27/1942, -1215475200000000]      1
13717           [9/20/1947, -703209600000000]      1
13718             [3/1/1986, 510019200000000]      1
13719           [8/13/2013, 1376352000000000]      1
13720  [Jan2002 Supplement, 1012694400000000]      1
13721             [12/19/94, 787795200000000]      1
13722           [3/13/1965, -151632000000000]      1
13723           [11/2/2001, 1004659200000000]      1

[13724 rows x 2 columns]

In [7]:
#Structured Date field analysis look for Ranges in the Structured date fields (Year, Month, Day)
print("Structured Date analysis starting")
mfsRecords_w_year = collection.count_documents({
    '$and' : [{ "header.content-type" :  "sch"},
    {"date.year" :  {"$exists" : True}}]
})
print("Percentage of MFS documents with a Year: ", mfsRecords_w_year/mfsRecords * 100)

imgRecords_w_year = collection.count_documents({
    '$and' : [{ "header.content-type" :  "imh"},
            {"date.year" :  {"$exists" : True}}]
})
print("Percentage of Image documents with a Year: ", imgRecords_w_year/imgRecords * 100)

ersRecords_w_year = collection.count_documents({
    '$and' : [{ "header.content-type" :  "ers"},
            {"date.year" :  {"$exists" : True}}]
})
print("Percentage of MFS documents with a Year: ", ersRecords_w_year/ersRecords * 100)

Structured Date analysis starting
Percentage of MFS documents with a Year:  100.0
Percentage of Image documents with a Year:  100.0
Percentage of MFS documents with a Year:  100.0

In [8]:
print("Year Min / Max  analysis starting")
#year_max = collection.aggregate([
#    {"$match": {"date.date-type": "pub-date" }},
#    {"$group": {"_id:" : "year" , "ym" : {"$max" : "$date.year"}}}])

#year_max = collection.find({"date.year" : {"$exists" : True}}, sort=[("date.year", 1)])["date.year"]

year_max = collection.aggregate([
  { '$unwind': '$date' },
  { '$group': { '_id': 'null', 'max': { '$max': '$date.year' } } },
  { '$project': { 'max': 1, '_id':1 } }
]) 

print("Highest Year in the dataset: ",list(year_max)[0]['max'])

year_min = collection.aggregate([
  { '$unwind': '$date' },
  { '$group': { '_id': 'null', 'min': { '$min': '$date.year' } } },
  { '$project': { 'min': 1, '_id':1 } }
]) 

print("Lowest Year in the dataset: ",list(year_min)[0]['min'])

print("Year Min / Max  analysis complete")

Year Min / Max  analysis starting
Highest Year in the dataset:  2022
Lowest Year in the dataset:  1750
Year Min / Max  analysis complete

In [9]:
#Content verticals distribution
print ("Content Vertical Analysis Starting")
Dist = collection.aggregate([{"$group" : 
                              {"_id" : {"vertical" : "$header.content-verticals"},
                               "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
df = pd.DataFrame(list(Dist))
df["Perc"] = df['total'] / allRecords * 100
print ("Content Vertical Analysis complete")

Content Vertical Analysis Starting
Content Vertical Analysis complete

In [10]:
df.round(2)

                                                  _id   total   Perc
0                         {'vertical': [['Article']]}  489089  42.26
1                           {'vertical': [['Image']]}  277109  23.95
2    {'vertical': [['Article', 'Scholarly Article']]}  128081  11.07
3                 {'vertical': [['Reference Entry']]}   69117   5.97
4      {'vertical': [['Reference Entry', 'Article']]}   35183   3.04
5                     {'vertical': [['Book Review']]}   22137   1.91
6           {'vertical': [['Book Review', 'Review']]}   21656   1.87
7               {'vertical': [['Letter', 'Article']]}   17716   1.53
8        {'vertical': [['Product Review', 'Review']]}   14615   1.26
9                          {'vertical': [['Letter']]}    7063   0.61
10                                 {'vertical': [[]]}    6752   0.58
11           {'vertical': [['Interview', 'Article']]}    6537   0.56
12           {'vertical': [['Editorial', 'Opinion']]}    5450   0.47
13                   {'vertical': [['Book Chapter']]}    4960   0.43
14                        {'vertical': [['Opinion']]}    3958   0.34
15          {'vertical': [['Proceeding', 'Article']]}    3446   0.30
16   {'vertical': [['Question & Answer', 'Article']]}    3408   0.29
17                      {'vertical': [['Editorial']]}    2666   0.23
18                {'vertical': [['Blog', 'Article']]}    2617   0.23
19  {'vertical': [['Letter to the Editor', 'Opinio...    2336   0.20
20                       {'vertical': [['Abstract']]}    2319   0.20
21              {'vertical': [['Correction notice']]}    2231   0.19
22                       {'vertical': [['Obituary']]}    2222   0.19
23  {'vertical': [['Entertainment Review', 'Review...    1836   0.16
24              {'vertical': [['Recipe', 'Article']]}    1813   0.16
25           {'vertical': [['Biography', 'Article']]}    1670   0.14
26            {'vertical': [['Chart/Diagram/Graph']]}    1454   0.13
27                      {'vertical': [['Interview']]}    1199   0.10
28             {'vertical': [['Excerpt', 'Article']]}    1165   0.10
29           {'vertical': [['Letter to the Editor']]}     958   0.08
..                                                ...     ...    ...
66                            {'vertical': [['Map']]}     112   0.01
67              {'vertical': [['Video Game Review']]}     110   0.01
68                      {'vertical': [['Cover Art']]}      86   0.01
69                      {'vertical': [['Biography']]}      78   0.01
70              {'vertical': [['Television Review']]}      78   0.01
71                  {'vertical': [['Course Review']]}      71   0.01
72                    {'vertical': [['Joke/Riddle']]}      65   0.01
73                {'vertical': [['Festival Review']]}      44   0.00
74              {'vertical': [['Report', 'Article']]}      42   0.00
75           {'vertical': [['Speech', 'Proceeding']]}      39   0.00
76                     {'vertical': [['Proceeding']]}      36   0.00
77             {'vertical': [['Performance Review']]}      35   0.00
78                    {'vertical': [['Script/Play']]}      33   0.00
79                        {'vertical': [['Project']]}      25   0.00
80                      {'vertical': [['Quotation']]}      25   0.00
81                   {'vertical': [['Music Review']]}      23   0.00
82              {'vertical': [['Industry Overview']]}      15   0.00
83               {'vertical': [['Art Reproduction']]}      14   0.00
84                  {'vertical': [['Poetry Review']]}       9   0.00
85                           {'vertical': [['Tale']]}       9   0.00
86                          {'vertical': [['Chart']]}       4   0.00
87      {'vertical': [['Film/Television Criticism']]}       3   0.00
88                           {'vertical': [['Book']]}       3   0.00
89                     {'vertical': [['Chronology']]}       3   0.00
90                 {'vertical': [['Company Report']]}       2   0.00
91             {'vertical': [['Short Story Review']]}       2   0.00
92                         {'vertical': [['Recipe']]}       1   0.00
93                        {'vertical': [['Diagram']]}       1   0.00
94                           {'vertical': [['Form']]}       1   0.00
95        {'vertical': [['Poetry Review', 'Review']]}       1   0.00

[96 rows x 3 columns]

In [11]:
print ("AN Analysis Starting")
Dist = collection.find({"header.content-type" : "sch"},{"article-id-group.CreativeWork-id" : 1})
df = pd.DataFrame(list(Dist))
print ("AN Analysis complete")

AN Analysis Starting
AN Analysis complete

In [12]:
df

                             _id                         article-id-group
0       5bb21e59588e1b919b1bb62e    [{'CreativeWork-id': '44278735'}, {}]
1       5bb21e59588e1b919b1bb62f  [{'CreativeWork-id': '9009170201'}, {}]
2       5bb21e59588e1b919b1bb630     [{'CreativeWork-id': '8932109'}, {}]
3       5bb21e59588e1b919b1bb631   [{'CreativeWork-id': '125639415'}, {}]
4       5bb21e59588e1b919b1bb632    [{'CreativeWork-id': '13863166'}, {}]
5       5bb21e59588e1b919b1bb633     [{'CreativeWork-id': '8802311'}, {}]
6       5bb21e59588e1b919b1bb634    [{'CreativeWork-id': '23696503'}, {}]
7       5bb21e59588e1b919b1bb635  [{'CreativeWork-id': '9604081156'}, {}]
8       5bb21e59588e1b919b1bb636        [{'CreativeWork-id': '5961'}, {}]
9       5bb21e59588e1b919b1bb638   [{'CreativeWork-id': '124773053'}, {}]
10      5bb21e59588e1b919b1bb639   [{'CreativeWork-id': '111725972'}, {}]
11      5bb21e59588e1b919b1bb63a  [{'CreativeWork-id': '9704274870'}, {}]
12      5bb21e59588e1b919b1bb63b    [{'CreativeWork-id': '12704728'}, {}]
13      5bb21e59588e1b919b1bb63d    [{'CreativeWork-id': '87402413'}, {}]
14      5bb21e59588e1b919b1bb63e     [{'CreativeWork-id': '8923714'}, {}]
15      5bb21e59588e1b919b1bb63f    [{'CreativeWork-id': '37704205'}, {}]
16      5bb21e59588e1b919b1bb640    [{'CreativeWork-id': '93983073'}, {}]
17      5bb21e59588e1b919b1bb641    [{'CreativeWork-id': '95942993'}, {}]
18      5bb21e59588e1b919b1bb642     [{'CreativeWork-id': '5553486'}, {}]
19      5bb21e59588e1b919b1bb643    [{'CreativeWork-id': '39253123'}, {}]
20      5bb21e59588e1b919b1bb644    [{'CreativeWork-id': '17543833'}, {}]
21      5bb21e59588e1b919b1bb645    [{'CreativeWork-id': '63006969'}, {}]
22      5bb21e59588e1b919b1bb646     [{'CreativeWork-id': '3549549'}, {}]
23      5bb21e59588e1b919b1bb648    [{'CreativeWork-id': '28690743'}, {}]
24      5bb21e59588e1b919b1bb649    [{'CreativeWork-id': '19790262'}, {}]
25      5bb21e59588e1b919b1bb64a  [{'CreativeWork-id': '9706243424'}, {}]
26      5bb21e59588e1b919b1bb64b    [{'CreativeWork-id': '20430157'}, {}]
27      5bb21e59588e1b919b1bb64d    [{'CreativeWork-id': '37360160'}, {}]
28      5bb21e59588e1b919b1bb64f    [{'CreativeWork-id': '34468136'}, {}]
29      5bb21e59588e1b919b1bb651   [{'CreativeWork-id': '110335947'}, {}]
...                          ...                                      ...
811017  5beaf61e588e1b919b679c07   [{'CreativeWork-id': '132878299'}, {}]
811018  5beaf621588e1b919b67a899   [{'CreativeWork-id': '132903777'}, {}]
811019  5beaf628588e1b919b67c03e   [{'CreativeWork-id': '132878322'}, {}]
811020  5beaf871588e1b919b6a349f   [{'CreativeWork-id': '132878331'}, {}]
811021  5beaf88c588e1b919b6a92ed   [{'CreativeWork-id': '132878317'}, {}]
811022  5beaf891588e1b919b6aa9c2   [{'CreativeWork-id': '132878304'}, {}]
811023  5beaf893588e1b919b6aaf86   [{'CreativeWork-id': '132889674'}, {}]
811024  5beaf894588e1b919b6ab323   [{'CreativeWork-id': '132878306'}, {}]
811025  5beaf895588e1b919b6ab876   [{'CreativeWork-id': '132878332'}, {}]
811026  5beaf896588e1b919b6abbcb   [{'CreativeWork-id': '132878294'}, {}]
811027  5beaf898588e1b919b6ac4b3   [{'CreativeWork-id': '132878295'}, {}]
811028  5beaf8ae588e1b919b6b0cde   [{'CreativeWork-id': '132878336'}, {}]
811029  5beaf9d2588e1b919b6e7fd6   [{'CreativeWork-id': '132878314'}, {}]
811030  5beafdc3588e1b919b76a7cc   [{'CreativeWork-id': '132878309'}, {}]
811031  5beafdc8588e1b919b76bac3   [{'CreativeWork-id': '132878323'}, {}]
811032  5beafdc9588e1b919b76be13   [{'CreativeWork-id': '132878330'}, {}]
811033  5beafdc9588e1b919b76be78   [{'CreativeWork-id': '132878334'}, {}]
811034  5beafdcb588e1b919b76c3c8   [{'CreativeWork-id': '132878320'}, {}]
811035  5beafdd5588e1b919b76ef9c   [{'CreativeWork-id': '132889675'}, {}]
811036  5beafe42588e1b919b78464b   [{'CreativeWork-id': '132878305'}, {}]
811037  5beb0232588e1b919b80878c   [{'CreativeWork-id': '132878297'}, {}]
811038  5beb023c588e1b919b80aac1   [{'CreativeWork-id': '132878307'}, {}]
811039  5beb0244588e1b919b80c4be   [{'CreativeWork-id': '132878325'}, {}]
811040  5beb0249588e1b919b80d78e   [{'CreativeWork-id': '132878311'}, {}]
811041  5beb0255588e1b919b8103e5   [{'CreativeWork-id': '132878310'}, {}]
811042  5beb03ca588e1b919b856695   [{'CreativeWork-id': '132878321'}, {}]
811043  5beb045f588e1b919b8703e0   [{'CreativeWork-id': '132903778'}, {}]
811044  5beb0560588e1b919b89c578   [{'CreativeWork-id': '132903779'}, {}]
811045  5beb06bd588e1b919b8d9005   [{'CreativeWork-id': '132878319'}, {}]
811046  5beb074a588e1b919b8ebd66   [{'CreativeWork-id': '132878315'}, {}]

[811047 rows x 2 columns]

In [13]:
ANMongo = []
for rec in df['article-id-group']:
    if ('CreativeWork-id' in rec[0]):
        ANMongo.append(rec[0]['CreativeWork-id'])
    #print(rec[0]['CreativeWork-id'])

In [14]:
import cx_Oracle

conn = cx_Oracle.connect('aws_reader/mfaws2@10.68.72.101:1521/mfaws2.epnet.com')
print (conn.version)
print ("AN Analysis Starting")
cursor = conn.cursor()
result = cursor.execute('SELECT AN FROM ARTICLE_SCH')
ANOracle = []

for record in result.fetchall():
    ANOracle.append(str(record[0]))

cursor.close()
conn.close()
print ("AN Analysis complete")

10.2.0.3.0
AN Analysis Starting
AN Analysis complete

In [15]:
print("Count of Article number")
print("From Oracle " + str(len(ANOracle)))
print("From Mongo " + str(len(ANMongo)))

Count of Article number
From Oracle 814273
From Mongo 811047

In [16]:
differens=list(set(ANOracle) - set(ANMongo))
print("How many article numbers was matched: " + str(len(ANOracle) - len(differens)))
df = pd.DataFrame(differens)

How many article numbers was matched: 811047

In [17]:
df

               0
0       19932415
1      132401561
2      132965214
3       19932846
4       19930956
5      132933696
6      111933819
7      132965198
8      132887058
9        3057702
10     130652280
11     132652590
12     131107119
13     132664739
14      19930909
15     132587036
16     132592724
17     132965178
18     133026199
19    9711191719
20       2237035
21     125641572
22     132618476
23     132965149
24     133057969
25     132965087
26      19930848
27     132634858
28     132741076
29     130079669
...          ...
3196   132994754
3197     1062738
3198   132702367
3199    96152427
3200  9704226924
3201   133019195
3202     1606411
3203   132866128
3204     2328592
3205   132618463
3206   132618466
3207   130079664
3208   132861244
3209   132792118
3210  9710064090
3211       70150
3212   130025918
3213     1606404
3214   132604749
3215   132545717
3216   132816016
3217    19931116
3218  9710064112
3219     3530403
3220   132861241
3221   129245492
3222   131538332
3223    19931929
3224    19932068
3225       70152

[3226 rows x 1 columns]

In [18]:
print("How many article numbers wasn't compare from Oracle: ", len(differens))

How many article numbers wasn't compare from Oracle:  3226

In [19]:
differensDoesNotExist=list(set(ANMongo) - set(ANOracle))

In [20]:
print("How many article numbers wasn't compare from Oracle to Mongo: ", len(differensDoesNotExist))

How many article numbers wasn't compare from Oracle to Mongo:  0

In [21]:

end = time.time()
print("Elapsed time in seconds: " + "{:.{}f}".format( (end - start), 2 ))

Elapsed time in seconds: 168.42

In [22]:
print("Job Completed at: "+str(datetime.datetime.now()))

Job Completed at: 2018-11-20 16:11:07.536816