# Beta Data Anaysis

We have been working to create a number of queries that describe the contents in the existing enriched-data collection. This notebook can be configured to point to any of the 3 environments (Live, Integration, DevQA).

In [3]:
# Related page
# http://confluence.epnet.com/display/ART/Spike+-+Date+field%28s%29+analyses+by+content+type+in+Raw-Meta

# Start of the script
import pandas as pd
import pymongo
from pymongo import MongoClient

env = input("Please Select an Environment D,I or L: ")
if env == "D":
    mng_svr = '10.25.216.142'
    mng_port = 27017
    mng_user = 'readOnlyUser'
    mng_pwd = 'uk53r8gb22zq76qb'
    mng_conn_string = mng_svr,mng_port,mng_user,mng_pwd
    print("Configuring for DevQA")
elif env == "I":
    mng_svr = '10.25.155.11'
    mng_port = 27017
    mng_user = 'readOnlyUser'
    mng_pwd = 'uk53r8gb22zq76qb'
    mng_conn_string = mng_svr,mng_port,mng_user,mng_pwd
    print("Configuring for Integration")
elif env == "L":
    mng_svr = '10.26.152.183'
    mng_port = 27017
    mng_user = 'readOnlyUser'
    mng_pwd = 'uk53r8gb22zq76qb'
    mng_conn_string = mng_svr,mng_port,mng_user,mng_pwd
    print("Configuring for Live")
else:
     print("No usable environment selected")
     exit()


#mng_conn_string = (mng_svr,mng_port,mng_user,mng_pwd)
print (mng_conn_string)


client = MongoClient (mng_svr,mng_port,username = mng_user, password = mng_pwd)
db = client.documents
collection = db['enriched-meta']




print ("Connection complete")





#=====================================================
#Determine the content types in the collection

#Dist = collection.aggregate([{"$group" : {"_id" : {"type" : "content-type"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
#df = pd.DataFrame(list(Dist))



#Dist = collection.aggregate([{"$group" : {"_id" : {"vertical" : "$header.content-verticals"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
#df = pd.DataFrame(list(Dist))
#data = pd.DataFrame(list(collection.find().limit(1000)))

# End of the script

Please Select an Environment D,I or L: D
Configuring for DevQA
('10.25.216.142', 27017, 'readOnlyUser', 'uk53r8gb22zq76qb')
Connection complete

In [5]:
print("Initial analysis starting")
allRecords = collection.find({}).count()
print("Number of documents: ", allRecords)
mfsRecords = collection.find({"header.content-type":"sch"}).count()
print("Number of MFS documents: ", mfsRecords)
imgRecords = collection.find({"header.content-type":"imh"}).count()
print("Number of Image documents: ", imgRecords)
ersRecords = collection.find({"header.content-type":"ers"}).count()
print("Number of ERS documents: ", ersRecords)
print("Initial analysis complete")

Initial analysis starting
Number of documents:  1148717

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  after removing the cwd from sys.path.

Number of MFS documents:  802488

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

Number of Image documents:  277112

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

Number of ERS documents:  69117
Initial analysis complete

In [3]:
#Determine the content types in the collection
print ("Content Type Analysis starting")
Dist = collection.aggregate([{"$group" : {"_id" : {"type" : "$header.content-type"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
df = pd.DataFrame(list(Dist))
df["Perc"] = df['total'] / allRecords * 100

print ("Content Type Analysis complete")

Content Type Analysis starting
Content Type Analysis complete

In [4]:
df

                 _id   total       Perc
0  {'type': ['sch']}  802488  69.859565
1  {'type': ['imh']}  277111  24.123543
2  {'type': ['ers']}   69117   6.016892

Date Analysis; We will look at the prevalance of string dates in MFS fields.

In [10]:
print("Date analysis starting")
mfsRecords_w_date = collection.find({
    '$and' : [{ "header.content-type" :  "sch"},
            {"date.string-date" :  {"$exists" : True}}]
}).count()

Dist = collection.aggregate([{"$match" : { "header.content-type":"sch"}}, {"$group" : { "_id" : "$date.string-date", "total" : {"$sum" : 1} }}, {"$sort": {"total":-1}}])
df = pd.DataFrame(list(Dist))
print("MFSDocuments_W_Date: ", mfsRecords_w_date )
print("Percentage of MFS documents with a String Date: ", mfsRecords_w_date/mfsRecords * 100)
print("Date analysis complete")

Date analysis starting

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  after removing the cwd from sys.path.

MFSDocuments_W_Date:  802488
Percentage of MFS documents with a String Date:  100.0
Date analysis complete

In [11]:
df

                                                     _id  total
0                            [Oct2017, 1506816000000000]  33506
1                               [2005, 1104537600000000]   4355
2                           [8/1/2017, 1501545600000000]   2294
3                               [2003, 1041379200000000]   1934
4                            [Oct2005, 1128124800000000]   1650
5                           [3/1/2006, 1141171200000000]   1620
6                            [Sep2005, 1125532800000000]   1590
7                            [Feb2005, 1107216000000000]   1583
8                            [Apr2005, 1112313600000000]   1577
9                            [Mar2005, 1109635200000000]   1554
10                           [Oct2007, 1191196800000000]   1540
11                           [Mar2006, 1141171200000000]   1474
12                           [Mar2008, 1204329600000000]   1470
13                           [Oct2004, 1096588800000000]   1462
14                           [Sep2008, 1220227200000000]   1458
15                           [Sep2007, 1188604800000000]   1437
16                           [Oct2008, 1222819200000000]   1424
17                           [Sep2006, 1157068800000000]   1422
18                           [Jun2005, 1117584000000000]   1404
19                           [Jan2005, 1104537600000000]   1394
20                           [Mar2007, 1172707200000000]   1380
21                           [Sep2004, 1093996800000000]   1373
22                           [Jun2008, 1212278400000000]   1365
23                           [Dec2005, 1133395200000000]   1363
24                           [Mar2009, 1235865600000000]   1354
25                           [May2005, 1114905600000000]   1347
26                           [Apr2006, 1143849600000000]   1339
27                           [Apr2008, 1207008000000000]   1322
28                           [Apr2012, 1333238400000000]   1316
29                           [Oct2012, 1349049600000000]   1316
...                                                  ...    ...
13524                      [11/6/1954, -478224000000000]      1
13525                      [7/13/2017, 1499904000000000]      1
13526                      [4/16/1955, -464313600000000]      1
13527                      [3/15/1952, -561686400000000]      1
13528                       [7/18/1998, 900720000000000]      1
13529                      [6/14/1952, -553824000000000]      1
13530                     [8/15/1931, -1211241600000000]      1
13531                      [12/8/1962, -222998400000000]      1
13532                     [10/31/1942, -857433600000000]      1
13533  [May2015 Supplement Chiropractic Nutrition, 14...      1
13534                      [4/2/1938, -1001980800000000]      1
13535          [Dec2001 Special Issue, 1007164800000000]      1
13536                      [4/30/1938, -999561600000000]      1
13537                       [7/15/2001, 995155200000000]      1
13538                        [Dec2001, 1009756800000000]      1
13539                       [1/6/2016, 1452038400000000]      1
13540                        [4/9/1994, 765849600000000]      1
13541                    [11/27/1937, -1012867200000000]      1
13542                   [Winter2004-5, 1096588800000000]      1
13543                     [12/14/2016, 1481673600000000]      1
13544                     [4/27/1935, -1094515200000000]      1
13545                         [11/8/91, 689558400000000]      1
13546                      [3/21/1942, -876787200000000]      1
13547                        [9/7/1985, 494899200000000]      1
13548                      [7/11/2017, 1499731200000000]      1
13549                         [Jun1998, 896659200000000]      1
13550                        [5/3/1997, 862617600000000]      1
13551                      [9/30/1961, -260496000000000]      1
13552                      [6/24/1944, -805420800000000]      1
13553                          [1/6/95, 789350400000000]      1

[13554 rows x 2 columns]

In [6]:
#Structured Date field analysis look for Ranges in the Structured date fields (Year, Month, Day)
print("Structured Date analysis starting")
mfsRecords_w_year = collection.find({
    '$and' : [{ "header.content-type" :  "sch"},
    {"date.year" :  {"$exists" : True}}]
}).count()
print("Percentage of MFS documents with a Year: ", mfsRecords_w_year/mfsRecords * 100)

imgRecords_w_year = collection.find({
    '$and' : [{ "header.content-type" :  "imh"},
            {"date.year" :  {"$exists" : True}}]
}).count()
print("Percentage of Image documents with a Year: ", imgRecords_w_year/imgRecords * 100)

ersRecords_w_year = collection.find({
    '$and' : [{ "header.content-type" :  "ers"},
            {"date.year" :  {"$exists" : True}}]
}).count()
print("Percentage of MFS documents with a Year: ", ersRecords_w_year/ersRecords * 100)

Structured Date analysis starting

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

Percentage of MFS documents with a Year:  100.0

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # This is added back by InteractiveShellApp.init_path()

Percentage of Image documents with a Year:  100.0

C:\Users\smcadoo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

Percentage of MFS documents with a Year:  100.0
Structured Date analysis complete

In [13]:
print("Year Min / Max  analysis starting")
#year_max = collection.aggregate([
#    {"$match": {"date.date-type": "pub-date" }},
#    {"$group": {"_id:" : "year" , "ym" : {"$max" : "$date.year"}}}])
year_max = collection.aggregate({"$group" : {"_id": "null", "max": { "$max": "$date.day"}}})
print("Highest Year in the dataset: ",year_max)

print("Year Min / Max  analysis complete")

Year Min / Max  analysis starting

TypeError: pipeline must be a list

In [9]:
#Content verticals distribution
print ("Content Vertical Analysis Starting")
Dist = collection.aggregate([{"$group" : {"_id" : {"vertical" : "$header.content-verticals"}, "total" : {"$sum" : 1} }},{"$sort": {"total": -1}}])
df = pd.DataFrame(list(Dist))
df["Perc"] = df['total'] / allRecords * 100
print ("Content Vertical Analysis complete")

Content Vertical Analysis Starting
Content Vertical Analysis complete

In [10]:
df

                                                  _id   total       Perc
0                         {'vertical': [['Article']]}  484359  42.172411
1                           {'vertical': [['Image']]}  277110  24.127552
2    {'vertical': [['Article', 'Scholarly Article']]}  125893  10.961315
3                 {'vertical': [['Reference Entry']]}   69087   6.015301
4      {'vertical': [['Reference Entry', 'Article']]}   35183   3.063331
5                     {'vertical': [['Book Review']]}   21993   1.914898
6           {'vertical': [['Book Review', 'Review']]}   21514   1.873192
7               {'vertical': [['Letter', 'Article']]}   17716   1.542506
8        {'vertical': [['Product Review', 'Review']]}   14378   1.251871
9                          {'vertical': [['Letter']]}    7057   0.614442
10                                 {'vertical': [[]]}    6636   0.577787
11           {'vertical': [['Interview', 'Article']]}    6407   0.557848
12           {'vertical': [['Editorial', 'Opinion']]}    5440   0.473653
13                   {'vertical': [['Book Chapter']]}    4967   0.432469
14                        {'vertical': [['Opinion']]}    3956   0.344443
15          {'vertical': [['Proceeding', 'Article']]}    3361   0.292637
16   {'vertical': [['Question & Answer', 'Article']]}    3354   0.292028
17                      {'vertical': [['Editorial']]}    2645   0.230296
18                {'vertical': [['Blog', 'Article']]}    2603   0.226639
19                       {'vertical': [['Abstract']]}    2309   0.201041
20              {'vertical': [['Correction notice']]}    2231   0.194250
21                       {'vertical': [['Obituary']]}    2181   0.189896
22  {'vertical': [['Letter to the Editor', 'Opinio...    2157   0.187807
23  {'vertical': [['Entertainment Review', 'Review...    1893   0.164821
24              {'vertical': [['Recipe', 'Article']]}    1769   0.154024
25           {'vertical': [['Biography', 'Article']]}    1668   0.145230
26            {'vertical': [['Chart/Diagram/Graph']]}    1361   0.118500
27                      {'vertical': [['Interview']]}    1187   0.103350
28             {'vertical': [['Excerpt', 'Article']]}    1145   0.099693
29           {'vertical': [['Letter to the Editor']]}     914   0.079581
..                                                ...     ...        ...
66                            {'vertical': [['Map']]}     105   0.009142
67                      {'vertical': [['Cover Art']]}      86   0.007488
68                      {'vertical': [['Biography']]}      76   0.006617
69              {'vertical': [['Television Review']]}      71   0.006182
70                  {'vertical': [['Course Review']]}      65   0.005659
71                    {'vertical': [['Joke/Riddle']]}      61   0.005311
72                {'vertical': [['Festival Review']]}      44   0.003831
73              {'vertical': [['Report', 'Article']]}      42   0.003657
74           {'vertical': [['Speech', 'Proceeding']]}      39   0.003396
75                     {'vertical': [['Proceeding']]}      36   0.003134
76             {'vertical': [['Performance Review']]}      32   0.002786
77                    {'vertical': [['Script/Play']]}      30   0.002612
78              {'vertical': [['Video Game Review']]}      26   0.002264
79                        {'vertical': [['Project']]}      25   0.002177
80                      {'vertical': [['Quotation']]}      25   0.002177
81                   {'vertical': [['Music Review']]}      20   0.001741
82              {'vertical': [['Industry Overview']]}      15   0.001306
83               {'vertical': [['Art Reproduction']]}      14   0.001219
84                  {'vertical': [['Poetry Review']]}       9   0.000784
85                           {'vertical': [['Tale']]}       9   0.000784
86                          {'vertical': [['Chart']]}       4   0.000348
87      {'vertical': [['Film/Television Criticism']]}       3   0.000261
88                     {'vertical': [['Chronology']]}       3   0.000261
89                           {'vertical': [['Book']]}       3   0.000261
90                 {'vertical': [['Company Report']]}       2   0.000174
91             {'vertical': [['Short Story Review']]}       2   0.000174
92                         {'vertical': [['Recipe']]}       1   0.000087
93                        {'vertical': [['Diagram']]}       1   0.000087
94                           {'vertical': [['Form']]}       1   0.000087
95        {'vertical': [['Poetry Review', 'Review']]}       1   0.000087

[96 rows x 3 columns]

In [5]:
print ("AN Analysis Starting")
Dist = collection.find({"header.content-type" : "sch"},{"article-id-group.CreativeWork-id" : 1}).limit(1000)
df = pd.DataFrame(list(Dist))
print ("AN Analysis complete")

AN Analysis Starting
AN Analysis complete

In [6]:
df

,_id,article-id-group
0,5b8eb3e97f37acef09439127,"[{'CreativeWork-id': '31465077'}, {}]"
1,5b8eb3e97f37acef09439128,"[{'CreativeWork-id': '4115884'}, {}]"
2,5b8eb3e97f37acef09439129,"[{'CreativeWork-id': '10069756'}, {}]"
3,5b8eb3e97f37acef0943912a,"[{'CreativeWork-id': '102921758'}, {'CreativeW..."
4,5b8eb3e97f37acef0943912b,"[{'CreativeWork-id': '58843078'}, {}]"
5,5b8eb3e97f37acef0943912c,"[{'CreativeWork-id': '74118961'}, {}]"
6,5b8eb3e97f37acef0943912d,"[{'CreativeWork-id': '125653400'}, {}]"
7,5b8eb3e97f37acef0943912e,"[{'CreativeWork-id': '24394038'}, {}]"
8,5b8eb3e97f37acef09439131,"[{'CreativeWork-id': '97719850'}, {}]"
9,5b8eb3e97f37acef09439132,"[{'CreativeWork-id': '34782007'}, {}]"
10,5b8eb3e97f37acef09439134,"[{'CreativeWork-id': '10068436'}, {}]"
11,5b8eb3e97f37acef09439135,"[{'CreativeWork-id': '17488318'}, {'CreativeWo..."
12,5b8eb3e97f37acef09439136,"[{'CreativeWork-id': '9306190022'}, {}]"
13,5b8eb3e97f37acef09439137,"[{'CreativeWork-id': '27006977'}, {'CreativeWo..."
14,5b8eb3e97f37acef09439138,"[{'CreativeWork-id': '95767037'}, {}]"
15,5b8eb3e97f37acef09439139,"[{'CreativeWork-id': '26437874'}, {}]"
16,5b8eb3e97f37acef0943913a,"[{'CreativeWork-id': '9709171635'}, {}]"
17,5b8eb3e97f37acef0943913b,"[{'CreativeWork-id': '103618476'}, {}]"
18,5b8eb3e97f37acef0943913c,"[{'CreativeWork-id': '2654990'}, {}]"
19,5b8eb3e97f37acef0943913d,"[{'CreativeWork-id': '66579157'}, {}]"
20,5b8eb3e97f37acef0943913e,"[{'CreativeWork-id': '10296532'}, {}]"
21,5b8eb3e97f37acef0943913f,"[{'CreativeWork-id': '50948076'}, {}]"
22,5b8eb3e97f37acef09439140,"[{'CreativeWork-id': '19498003'}, {}]"
23,5b8eb3e97f37acef09439141,"[{'CreativeWork-id': '24656373'}, {}]"
24,5b8eb3e97f37acef09439142,"[{'CreativeWork-id': '125633623'}, {}]"
25,5b8eb3e97f37acef09439143,"[{'CreativeWork-id': '101659161'}, {}]"
26,5b8eb3e97f37acef09439145,"[{'CreativeWork-id': '19150039'}, {}]"
27,5b8eb3e97f37acef09439147,"[{'CreativeWork-id': '16346723'}, {'CreativeWo..."
28,5b8eb3e97f37acef0943914a,"[{'CreativeWork-id': '36578482'}, {}]"
29,5b8eb3e97f37acef0943914b,"[{'CreativeWork-id': '17275955'}, {}]"
...,...,...
970,5b8eb3ea7f37acef094396c4,"[{'CreativeWork-id': '7055928'}, {}]"
971,5b8eb3ea7f37acef094396c5,"[{'CreativeWork-id': '28049537'}, {}]"
972,5b8eb3ea7f37acef094396c6,"[{'CreativeWork-id': '84620275'}, {}]"
973,5b8eb3ea7f37acef094396c7,"[{'CreativeWork-id': '9303300677'}, {}]"
974,5b8eb3ea7f37acef094396c8,"[{'CreativeWork-id': '16371529'}, {}]"
975,5b8eb3ea7f37acef094396c9,"[{'CreativeWork-id': '12887018'}, {'CreativeWo..."
976,5b8eb3ea7f37acef094396cb,"[{'CreativeWork-id': '89396048'}, {'CreativeWo..."
977,5b8eb3ea7f37acef094396cc,"[{'CreativeWork-id': '70715958'}, {'CreativeWo..."
978,5b8eb3ea7f37acef094396ce,"[{'CreativeWork-id': '9708192166'}, {}]"
979,5b8eb3ea7f37acef094396d0,"[{'CreativeWork-id': '77496005'}, {'CreativeWo..."
980,5b8eb3ea7f37acef094396d2,"[{'CreativeWork-id': '17981260'}, {}]"
981,5b8eb3ea7f37acef094396d3,"[{'CreativeWork-id': '21368433'}, {}]"
982,5b8eb3ea7f37acef094396d5,"[{'CreativeWork-id': '48881914'}, {}]"
983,5b8eb3ea7f37acef094396d7,"[{'CreativeWork-id': '9602232430'}, {}]"
984,5b8eb3ea7f37acef094396d8,"[{'CreativeWork-id': '3922616'}, {}]"
985,5b8eb3ea7f37acef094396d9,"[{'CreativeWork-id': '20072658'}, {}]"
986,5b8eb3ea7f37acef094396da,"[{'CreativeWork-id': '12007358'}, {}]"
987,5b8eb3ea7f37acef094396db,"[{'CreativeWork-id': '78362015'}, {'CreativeWo..."
988,5b8eb3ea7f37acef094396dd,"[{'CreativeWork-id': '18182138'}, {}]"
989,5b8eb3ea7f37acef094396de,"[{'CreativeWork-id': '114931675'}, {}]"
990,5b8eb3ea7f37acef094396df,"[{'CreativeWork-id': '1321067'}, {}]"
991,5b8eb3ea7f37acef094396e0,"[{'CreativeWork-id': '16370149'}, {}]"
992,5b8eb3ea7f37acef094396e3,"[{'CreativeWork-id': '86237081'}, {}]"
993,5b8eb3ea7f37acef094396e4,"[{'CreativeWork-id': '23956077'}, {}]"
994,5b8eb3ea7f37acef094396e7,"[{'CreativeWork-id': '31726090'}, {}]"
995,5b8eb3ea7f37acef094396e8,"[{'CreativeWork-id': '19899834'}, {}]"
996,5b8eb3ea7f37acef094396e9,"[{'CreativeWork-id': '9710240851'}, {}]"
997,5b8eb3ea7f37acef094396ea,"[{'CreativeWork-id': '9007231886'}, {}]"
998,5b8eb3ea7f37acef094396ec,"[{'CreativeWork-id': '198566'}, {}]"
999,5b8eb3ea7f37acef094396ee,"[{'CreativeWork-id': '110363174'}, {}]"

In [ ]:
import cx_Oracle
con = cx_Oracle.connect('aws_reader/mfaws2@mfaws2')
print (con.version)
con.close()

In [3]:
!pip install cx_Oracle --upgrade

Collecting cx_Oracle
  Downloading https://files.pythonhosted.org/packages/ae/ee/5e9704b60f99540a6b6f527f355b5e7025ba3f637f31566c5021e6e337c5/cx_Oracle-6.4.1-cp36-cp36m-win_amd64.whl (164kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-6.4.1

  Cache entry deserialization failed, entry ignored
You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [5]:
!python -m pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/5f/25/e52d3f31441505a5f3af41213346e5b6c221c9e086a166f3703d2ddaf940/pip-18.0-py2.py3-none-any.whl (1.3MB)
Installing collected packages: pip
  Found existing installation: pip 9.0.1
    Uninstalling pip-9.0.1:
      Successfully uninstalled pip-9.0.1
Successfully installed pip-18.0

Cache entry deserialization failed, entry ignored

In [14]:
cx_oracle.version

NameError: name 'cx_oracle' is not defined

In [ ]:
!pip uninstall cx_Oracle